/*.slide-in {
    animation: slide-in 0.45s cubic-bezier(.39,.21,.12,.96) forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-5%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
*/